<mat-nav-list>
  <!--routerLink para que no recargue y navegue normal sin parpadear no empieza con "/" porque es una navegacion relativa porque lo anterior se mantendra solo se cambiara lo actual lo de adelante/final-->
  <!--si coloco el "/home" esto elimina todo lo anterior y solo coloca el /home-->
  @for (item of linkItems; track $index) {
    <a
      [routerLink]="item.routerLink"
      routerLinkActive
      #linkItem="routerLinkActive"
      [activated]="linkItem.isActive"
      mat-list-item
    >
      {{ item.label }}
    </a>
    }
    <a (click)="logout()" mat-list-item> Cerrar sesión</a>
</mat-nav-list>
