<!--contenedor-->
<mat-drawer-container class="example-container" autosize>
  <!--menu lateral-->
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <app-nav-menu></app-nav-menu>
  </mat-drawer>
  <!--fin menu lateral-->

  <!--area contenido-->
  <div class="example-sidenav-content">
    <app-toolbar (toggleSidenav)="drawer.toggle()"/>
    <main style="padding: 1rem">
      <!-- <app-students /> -->
      <router-outlet/>
    </main>
  </div>
  <!--fin area contenido-->

</mat-drawer-container>
