<!-- <button (click)="openDialog()" mat-flat-button color="primary"><mat-icon>add</mat-icon> Añadir alumno</button>
<br>
<div class="my-4" appTitleStyle>El nombre del alumno es: {{ alumno! | fullName}}</div> -->

@if (isLoading) {
<mat-spinner />
} @else {

<button
  [disabled]="!(isAdmin$ | async)"
  (click)="openDialog()"
  mat-flat-button
>
  <mat-icon>add</mat-icon> Añadir alumno
</button>

<app-students-table
  [dataSource]="dataSource"
  (delete)="deleteAlumnoById($event)"
  (edit)="openDialog($event)"
/>
}
